<div class="gray-background row center-block" ng-controller="RegisterCtrl">
  <form name="form" ng-submit="registerFun()" role="form" class="validation-form">

    <div class="error-div" ng-if="error">{{error}}</div>
    <div class="col-md-6 login-text-div">Create Account</div>
    <div class="col-md-6 text-right login-link-div"> <a href="#!/login" class="register-link">Login</a></div>

    <!--first name-->
    <div class="div-fields">
      <input type="text" name="first" class="fields"
               id="first" placeholder="First Name" ng-model="info.first" required />
      <span ng-show="form.first.$touched
            && form.first.$invalid">First Name is required</span>
    </div>

    <!--last name-->
    <div class="div-fields">
      <input type="text" name="last" class="fields"
             name="last" placeholder="Last Name" ng-model="info.last"  required />
      <span ng-show="form.last.$touched
            && form.last.$invalid">Last Name is required</span>
    </div>


    <!--email-->
    <div class="div-fields">
      <input type="email" name="email" class="fields"
             id="email" placeholder="Email" ng-model="info.email" required />
      <span ng-show="form.email.$touched
            && form.email.$invalid">Email is not valid</span>
    </div>


    <!--username-->

    <div class="div-fields">
        <input type="text" class="fields"
               name="username" id="username" placeholder="Username" ng-model="info.username" required />
        <span ng-show="form.username.$touched
              && form.username.$invalid">Username is required</span>
      </div>
    
    <!--pass-->

    <div class="div-fields">
      <input type="password" class="fields"
             name="pass" id="pass" placeholder="Password" ng-model="info.pass" required />
      <span ng-show="form.pass.$touched
            && form.pass.$invalid">Password is required</span>
    </div>


    <!--confirm pass-->

    <div class="div-fields">
      <input type="password" class="fields"
             name="passConf" id="passConf" placeholder="Confirm Password" ng-model="info.passConf" required />
      <span ng-show="form.passConf.$touched
            && info.passConf!=info.pass" class="password-match">Your password and confirmation password do not match.</span>
    </div>


    <div class="div-btn-login">
      <input type="submit" class="btn-login"
              ng-disabled="form.$invalid || info.dataLoading" value="Create Account">
    </div>
  </form>
</div>